nav {
    background: linear-gradient(
        rgba(240, 233, 233, 0.829),
        rgba(213, 224, 214, 0.2),
        rgba(253, 251, 251, 0.788)
      ),
      url(../../pics/cityBg.jpg) center no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white
}
 a:hover {
    text-decoration: underline;
    color: white
}

.navbar-brand {
    font-size: 35px;
}

.nav-item {
    font-size: 25px;
}